@import '../mixins.scss';
@import '../variables.scss';

.#{$lib-prefix}-loader {
    --loader-spacing: 2px;
    --loader-duration: 1.5s;

    width: apply-multiplier(50px);
    height: apply-multiplier(20px);

    background-color: var(--primary-container-color);
    border: var(--loader-spacing) solid var(--outline-color);

    padding: var(--loader-spacing);

    &--xs {
        @include size-xs();
        --loader-spacing: 1px;
    }

    &--sm {
        @include size-sm();
        --loader-spacing: 2px;
    }

    &--md {
        @include size-md();
        --loader-spacing: 2px;
    }

    &--lg {
        @include size-lg();
        --loader-spacing: 3px;
    }

    &--fast {
        --loader-duration: 1s;
    }

    &--slow {
        --loader-duration: 2s;
    }

    &__pointer {
        $basePointerWidth: 8px;

        width: calc(#{$basePointerWidth} * var(--multiplier));
        height: 100%;
        background-color: var(--tertiary-color);

        animation: moveLoader var(--loader-duration) ease-in-out infinite;

        @keyframes moveLoader {
            50% {
                margin-left: calc(100% - calc(#{$basePointerWidth} * var(--multiplier)));
            }
        }
    }

    &__container {
        z-index: 20000;

        position: absolute;

        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        display: flex;

        align-items: center;
        justify-content: center;

        &--blur {
            @include blur;
        }

        &--off {
            @include off();
        }
    }
}