@import '../mixins.scss';
@import '../variables.scss';

.#{$lib-prefix}-modal {
    $baseModalPadding: 8px;

    z-index: 10000;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: apply-multiplier(600px);
    aspect-ratio: 16/9;

    background-color: var(--surface-color);
    color: var(--on-surface-color);

    border: 3px solid var(--outline-color);

    display: flex;
    flex-direction: column;

    &--xs {
        @include size-xs();
    }

    &--sm {
        @include size-sm();
    }

    &--md {
        @include size-md();
    }

    &--lg {
        @include size-lg();
    }

    &--full-screen {
        width: 100vw;
        height: 100vh;
    }

    &--hidden {
        display: none;
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 9999;

        overflow: hidden;

        &--blur {
            @include blur;
        }

        body:has(&) {
            overflow: hidden;
        }
    }

    &__title {
        display: flex;
        align-items: center;

        padding: apply-multiplier($baseModalPadding);

        background-color: var(--primary-color);
        color: var(--on-primary-color);
        border-bottom: 1px solid var(--outline-color);

        &__content {
            flex-grow: 1;

            display: flex;
            align-items: center;


            word-break: break-word;
        }

        &__close {
            display: flex;
            align-items: center;
            justify-content: center;
            aspect-ratio: 1;

            cursor: pointer;

            color: var(--on-secondary-color);

            transition: background-color 200ms ease;

            &:hover {
                background-color: var(--on-secondary-container-color);
            }

            &:active {
                background-color: var(--on-secondary-container-color);

                transform: scale(0.95);
            }

            &::before {
                content: '✕';
                font-weight: bold;
                font-size: apply-multiplier(1.25rem);
            }

            &__container {
                min-width: calc(#{apply-multiplier(1.25rem)} + 10px);

                align-self: flex-start;
            }
        }
    }

    &__main {
        padding: apply-multiplier($baseModalPadding);

        overflow: auto;
    }

    &__footer {
        margin-top: auto;
        padding: apply-multiplier($baseModalPadding);

        background-color: var(--surface-container-color);
        border-top: 1px solid var(--outline-color);
    }
}