@mixin blur {
    backdrop-filter: blur(4px);
}

@mixin size-xs {
    --multiplier: 0.5;
    --dynamic-border-size: 1px;
}

@mixin size-sm {
    --multiplier: 0.75;
    --dynamic-border-size: 2px;
}

@mixin size-md {
    --multiplier: 1;
    --dynamic-border-size: 2px;
}

@mixin size-lg {
    --multiplier: 1.5;
    --dynamic-border-size: 3px;
}

@mixin off {
    display: none;
}

@mixin bgColorTransition {
    transition: background-color 0.2s ease;
}

@function apply-multiplier($value) {
    @return calc(#{$value} * var(--multiplier));
}