:root {
    --primary-color: rgb(104 84 142);
    --on-primary-color: rgb(255 255 255);
    --primary-container-color: rgb(235 221 255);
    --on-primary-container-color: rgb(35 15 70);
    --secondary-color: rgb(99 91 112);
    --on-secondary-color: rgb(255 255 255);
    --secondary-container-color: rgb(233 222 248);
    --on-secondary-container-color: rgb(31 24 43);
    --tertiary-color: rgb(126 82 93);
    --on-tertiary-color: rgb(255 255 255);
    --tertiary-container-color: rgb(255 217 225);
    --on-tertiary-container-color: rgb(49 16 27);
    --error-color: rgb(186 26 26);
    --on-error-color: rgb(255 255 255);
    --error-container-color: rgb(255 218 214);
    --on-error-container-color: rgb(65 0 2);
    --background-color: rgb(254 247 255);
    --on-background-color: rgb(29 27 32);
    --surface-color: rgb(254 247 255);
    --on-surface-color: rgb(29 27 32);
    --surface-variant-color: rgb(231 224 235);
    --on-surface-variant-color: rgb(73 69 78);
    --outline-color: rgb(122 117 127);
    --outline-variant-color: rgb(203 196 207);
    --shadow-color: rgb(0 0 0);
    --scrim-color: rgb(0 0 0);
    --inverse-surface-color: rgb(50 47 53);
    --inverse-on-surface-color: rgb(245 239 247);
    --inverse-primary-color: rgb(211 188 253);
    --primary-fixed-color: rgb(235 221 255);
    --on-primary-fixed-color: rgb(35 15 70);
    --primary-fixed-dim-color: rgb(211 188 253);
    --on-primary-fixed-variant-color: rgb(79 61 116);
    --secondary-fixed-color: rgb(233 222 248);
    --on-secondary-fixed-color: rgb(31 24 43);
    --secondary-fixed-dim-color: rgb(205 194 219);
    --on-secondary-fixed-variant-color: rgb(75 67 88);
    --tertiary-fixed-color: rgb(255 217 225);
    --on-tertiary-fixed-color: rgb(49 16 27);
    --tertiary-fixed-dim-color: rgb(240 183 197);
    --on-tertiary-fixed-variant-color: rgb(100 59 70);
    --surface-dim-color: rgb(222 216 224);
    --surface-bright-color: rgb(254 247 255);
    --surface-container-lowest-color: rgb(255 255 255);
    --surface-container-low-color: rgb(248 241 250);
    --surface-container-color: rgb(242 236 244);
    --surface-container-high-color: rgb(237 230 238);
    --surface-container-highest-color: rgb(231 224 232);
}